include apscale_gui/_source/demultiplexing.png
include apscale_gui/_source/summary_statistics.png
include apscale_gui/_source/local_blast.png
include apscale_gui/_source/export_results.png
include apscale_gui/_source/boldigger.png
include apscale_gui/_source/ncbi_blast.png
include apscale_gui/_source/sample_renaming.png
include apscale_gui/_source/quality_control.png
include apscale_gui/_source/all_in_one_analysis.png
include apscale_gui/_source/github.png
include apscale_gui/_source/twitter.png
include apscale_gui/_source/crash.png
include apscale_gui/_user_data/user_data.txt
